<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gym weabalkalmazás</title>
    </head>
    <body>
        <nav>
            <li><a href="/">Főoldal</a></li>
            <li><a href="/user/users">Sportolók</a></li>
            <li><a href="/trainer/trainers">Edzők</a></li>
            <li><a href="/program/programs">Programok</a></li>
            <li><a href="/plan/plans">Edzéstervek</a></li>
            <li><a href="/cart/carts">Kártyák</a></li>
        </nav>
        <h2>Főoldal</h2>
        <button onclick="asd()">Vissza a frontendre</button>
        <script>
            function asd() {
                window.location.replace('http://localhost:3000/');
            }
        </script>
    </body>
</html>
